<ng-container *ngIf="cartItem">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <img
          *ngIf="cartItem.image"
          class="card-img-top"
          [src]="cartItem.image"
          alt="{{ cartItem.title }}"
        />
      </div>
      <div class="col-6 col-md-7">
        <h5>{{ cartItem.title }}</h5>

        <ul class="nav">
          <li class="nav-item ms-4">
            <button
              mat-flat-button
              color="warn"
              (click)="deleteCartItem(cartItem.productId)"
            >
              Delete
            </button>
          </li>
        </ul>
      </div>
      <div class="col-3 col-md-2">
        <p class="h5 text-end text-nowrap">
          {{ cartItem.price | currency: "AED":".2" }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
