<nav class="navbar navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" routerLink="/"><b>Online Store</b></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <button mat-button [matMenuTriggerFor]="menu">My Profile</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </mat-menu>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cart']">
          <mat-icon [matBadge]="count$ | async" matBadgeColor="warn"
            >shopping_cart</mat-icon
          >
        </a>
      </li>
    </ul>
  </div>
</nav>
